<?xml version="1.0"?>
<config>
    <dashboard>
        <version>0.0.1</version>
        <title>Dashboard<!-- This will appear in the administration screens for this module --></title>
        <description>The Dashboard module<!-- This will appear in the admin page --></description>
        <author>
            <name>rick@humbleprogramming.com</name>
            <email></email>
        </author>
        <module>
            <name>Dashboard</name>
            <weight>50</weight>
            <required>Y</required>
            <workflow>Y</workflow>
            <package>Main</package>
            <use>Smarty3</use>
        </module>
        <structure>
            <models>
                <source>Dashboard/Models</source>
            </models>
            <helpers>
                <source>Dashboard/Helpers</source>
            </helpers>
            <controllers>
                <source>Dashboard/Controllers</source>
                <cache>Dashboard/Controllers/Cache</cache>
            </controllers>
            <mobile>
                <controllers>
                    <source>Dashboard/Mobile/Controllers</source>
                    <cache>Dashboard/Mobile/Controllers/Cache</cache>
                </controllers>
                <views>
                    <source>Dashboard/Mobile/Views</source>
                    <cache>Dashboard/Mobile/Views/Cache</cache>
                </views>
            </mobile>
            <schema>
                <install>Dashboard/Schema/Install</install>
                <update>Dashboard/Schema/Update</update>
                <layout>Dashboard/Schema/DSL</layout>
            </schema>
            <configuration>
                <source>Dashboard/etc</source>
            </configuration>
            <views>
                <source>Dashboard/Views</source>
                <cache>Dashboard/Views/Cache</cache>
            </views>
            <images>
                <source>Dashboard/Images</source>
                <cache>Dashboard/Images/Cache</cache>
            </images>
            <entities>
                <source>Dashboard/Entities</source>
            </entities>
            <RPC>
                <source>Dashboard/RPC</source>
            </RPC>
            <frontend>
                <source>Dashboard/web/app</source>
            </frontend>
        </structure>
        <orm>
            <prefix>dashboard_</prefix>
            <mongodb>dashboard</mongodb>
            <entities>

            </entities>
        </orm>
        <events>

        </events>
        <web>
            <!-- Edits are used for separating form validation from the form -->
            <edits>
                <edit1>Dashboard/web/edits/edit.json</edit1>
            </edits>
            <dashboard>
                <js>
                    <source>Dashboard/web/js/Dashboard.js</source>
                </js>
                <css>
                    <source>Dashboard/web/css/Dashboard.css</source>
                </css>
            </dashboard>
        </web>
    </dashboard>
</config>